/about.ui
/baiKTCK_1.py
/baiKTCK_2.py
/baiKTCK_3.py
/BT Tally
/BTVN thầy giao
/by.py
/Bài học
/Checkpoint
/create.ui
/Giấy note
/green.py
/green.ui
/GreenOS.py
/GreenOS.ui
/Khác
/note.ui
/NoteApp.py
/PTA
/PyQt5-5.15.10.tar.gz
/SPCK
/start.ui
/Thực hành
/tuan2_tuluan_Duy.py